html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #202C39;
    color: #F2D492;
    font-family: 'Quicksand', sans-serif;
}

input:focus{
    outline: none;
}

#container1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#pagetitle {
    text-transform: uppercase;
    margin: 10px;
}

#playbutton {
    border: none;
    border-radius: 4px;
    background: #F2D492;
    color: #283845;
    padding: 8px 18px;
    text-align: center;
    font-size: 1.5em;
    filter: drop-shadow(4px 4px 0 #F29559);
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.5s ease;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin: 25px 10px; 
}

#playbutton:hover {
    top: -3px;
    left: -3px;
}

.wss-options-container, .inputsrow {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.inputsrow {
    flex-wrap: wrap;
}

.inputcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto 30px;
    height: 140px;
}

#waveSelector {
    margin: 10px;
}

#frequencyinput, #gaininput {
    border: none;
    color: #F2D492;
    font-family: 'Quicksand', sans-serif;
    background: none;
    font-size: 2em;
    text-align: right;
}

.wss-option {
    height: 60px;
    width: 90px;
    margin: auto 6px;
    padding: 2px 4px;
    border: 2px solid rgba(0,0,0,0);
    transition: all 0.6s ease;
    transform: scale(1);
}

.wss-option:hover:not(.wss-selected) {
    transform: scale(1.04);
    border: 2px solid rgba(242, 149, 89, 0.4);
}

.wss-option svg {
    height: 100%;
    width: 100%;
}

.wss-option path {
    stroke: #F2D492;
    stroke-width: 6;
}

.wss-selected {
    border: 2px solid #F29559;
    border-radius: 4px;
    padding: 0 2px;
}

#freqtable {
    display: inline;
}

#freqtable div:nth-child(n+8)#addfreq{
    transition: all 0.9s ease;
    opacity: 0;
    height: 0;
    pointer-events: none;
}

#freqtable div:nth-child(n+7):not(#addfreq){
    border: 2px solid rgba(242, 149, 89, 0.2);
}

#freqtableheader, .freqrow {
    display: grid;
    grid: 1fr / 1fr 2fr 2fr;
}

#freqtableheader {
    margin: 8px auto;
}

#freqtableheader h3 {
    text-align: center;
    margin: auto 50px;
}

#addfreq {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(242, 149, 89, 0.6);
    transition: all 0.5s ease;
    border-radius: 10px;
    height: 50px;
}

#addfreq:hover {
    border: 2px solid rgba(242, 149, 89, 1);
    border-radius: 2px;
}

@keyframes grow {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 50px;
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        height: 50px;
        opacity: 1;
    }
    to {
        height: 0px;
        opacity: 0;
    }
}

.freqrow {
    overflow: hidden;
    height: 0;
    opacity: 0;
    animation: grow 1s forwards ease;
    transition: all 0.5s ease;
    border: 2px solid rgba(242, 149, 89, 0.2);
    border-radius: 10px;
    border-bottom: 2px solid rgba(242, 149, 89, 0);
}

.freqrow:hover, .freqrow:focus-within {
    border: 2px solid rgba(242, 149, 89, 0.4);
}

.freqrow input {
    width: 65%;
}

.freqrow div {
    opacity: 1;
    transition: all 0.5s ease;
}

.freqrow div:not(:last-child) {
    border-right: solid 2px rgba(242, 149, 89, 0.1);
}

.frremove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.frremove h1 {
    margin: 0;
    position: relative;
    color: rgba(242, 84, 92, 0.8);
    transition: filter 0.5s ease;
    filter: none;
}

.frremove h1:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

.frremove:hover h1 {
    color: rgba(242, 84, 92, 1);
}

.frremove h1 span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: opacity 0.5s ease;
}

.frremove:hover h1 span:nth-child(2), .frremove h1 span:nth-child(1) {
    opacity: 1;
}

.frremove h1 span:nth-child(2), .frremove:hover h1 span:nth-child(1) {
    opacity: 0;
}

.frremove:hover {
    width: 500%;
}

.frremove:hover ~ div {
    opacity: 0;
    pointer-events: none;
}